<div class="divWithHorizontalContent">
  <h2>Application Logs</h2>

  <button class="podIconButtons" mat-icon-button color="primary" (click)="enableLogview()" 
  matTooltip="Connect viewer to log stream">
<mat-icon>visibility_on</mat-icon>
</button>

<button class="podIconButtons" mat-icon-button color="primary" (click)="disableLogview()" 
matTooltip="Disconnect viewer from log stream">
<mat-icon>visibility_off</mat-icon>
</button>
</div>


<div class="logViewerContainer">
    <log-monitor 
    [logStream]="logmessage" 
    theme="dark" 
    title="Docker cluster logs" 
    [animated]="true" 
    [icons]="true"
    [history]="logViewerService.historyMessages">
  </log-monitor>
</div>

