<div class="container" >

  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle value="visibility_on" aria-label="Text align left" (click)="enableLogview()" matTooltip="Enable log viewer">
      <mat-icon>visibility_on</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="visibility_off" aria-label="Text align center" (click)="disableLogview()" matTooltip="Disable log viewer">
      <mat-icon>visibility_off</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div class="container" style="margin-top: 10px">
    <log-monitor 
        [logStream]="logmessage" 
        theme="dark" 
        title="Docker cluster logs" 
        [animated]="true" 
        [icons]="true">
    </log-monitor>
  </div>
</div>
