<mat-card class="job-card"  style ="width: 50vh; margin-top: 1vh; ">
  <mat-card-content>
    <div mat-line>
      <div>
        <mat-icon>badge</mat-icon>
        <span style="font-weight: bold">Name: </span>
        {{pod.name}}
      </div>
      <div mat-line>
        <mat-icon mat-list-icon>handyman</mat-icon>
        <span style="font-weight: bold">Image: </span>
        {{pod.image}}
      </div>
      <div mat-line>
        <mat-icon mat-list-icon>monitor_heart</mat-icon>
        <span style="font-weight: bold">Status: </span>
        {{pod.status}}
      </div>
      <div mat-line>
        <mat-icon mat-list-icon>face</mat-icon>
        <span style="font-weight: bold">Node: </span>
        {{pod.node}}
      </div>



    </div>

  </mat-card-content>
</mat-card>
