<div class="grid-container-element">
  <div class="grid-child-element-podicon">
    <img class="podIconImage"   src={{iconPath}}>
  </div>

  <div class="grid-child-element-poddata">
    <div mat-line>
      <div>
        <mat-icon class="icon">badge</mat-icon>
        <span class="label">Name: </span>
        {{pod.name}}
      </div>
      <div mat-line>
        <mat-icon class="icon">image</mat-icon>
        <span class="label">Image: </span>
        {{pod.image}}
      </div>
      <div mat-line>
        <mat-icon class="icon">monitor_heart</mat-icon>
        <span class="label">Status: </span>
        {{pod.status}}
      </div>
      <div mat-line>
        <mat-icon class="icon">dns</mat-icon>
        <span class="label">Node: </span>
        {{pod.node}}
      </div>
    </div>


  </div>
</div>
