<!-- upper bar -->
<mat-toolbar class="app-toolbar">
  <span>K8sDemoApp {{guiVersion}}</span>
  <span class="example-spacer"></span>

  <!-- Logged user icon and name -->
  <button mat-icon-button [matMenuTriggerFor]="menu"
   *ngIf="accountService.currentUser|async as loggedInUser"
   class="userIcon">
    <mat-icon>face</mat-icon>
    <span>{{loggedInUser.username}}</span>
  </button>
  
  <!-- User functions menu -->
  <mat-menu #menu="matMenu" >
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>

  <span class="example-spacer-small"></span>
</mat-toolbar>

<!-- SideNav -->
<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="navBarOpen" fixedInViewport fixedTopGap="64"  >
    
      <!-- menus built based on configuration in nav-menus.ts -->
      <mat-nav-list>
      <ng-container *ngFor="let menu of menus">
        <a class="menu-primary" mat-list-item [routerLink]="[menu.subMenus ? '/' : '/' + menu.pageName]" [queryParams]="menu.subMenus ? {route: menu.pageName} : {}" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="accountService.hasRole(menu.roles) && navigationService.isMenuAccessible(menu, navigationService.menuLocations.Navbar) && (navigationService.accessibleSubmenus(menu, navigationService.menuLocations.Navbar)?.length > 0 || !menu.subMenus)">
        <span [ngSwitch]="menu.iconType" *ngIf="menu.iconName">
          <i style="margin-right: 10px;" class="{{menu.iconName}}" *ngSwitchCase="navigationService.menuIconTypes.Custom"></i>
          <mat-icon style="margin-right: 5px;" *ngSwitchDefault>{{menu.iconName}}</mat-icon>
        </span>
        {{menu.name}}
        </a>
        <ng-container *ngFor="let submenu of menu.subMenus">
          <a class="menu-secondary" mat-list-item [routerLink]="[submenu.subMenus ? '/' : '/' + submenu.pageName]" [queryParams]="submenu.subMenus ? {route: submenu.pageName} : {}" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="accountService.hasRole(submenu.roles) && navigationService.isMenuAccessible(submenu, navigationService.menuLocations.Navbar) && (navigationService.accessibleSubmenus(submenu, navigationService.menuLocations.Navbar)?.length > 0 || !submenu.subMenus)">
          <div style="width: 10px;"></div>
          <span [ngSwitch]="submenu.iconType" *ngIf="submenu.iconName">
            <i style="margin-right: 10px;" class="{{submenu.iconName}}" *ngSwitchCase="navigationService.menuIconTypes.Custom"></i>
            <mat-icon style="margin-right: 5px;" *ngSwitchDefault>{{submenu.iconName}}</mat-icon>
          </span>
          {{submenu.name}}
        </a>
        </ng-container>
      </ng-container>

    </mat-nav-list>

    <!-- TODO Add API version -->

    <!-- <mat-nav-list class="sidenav-bottom" style="width: 100%;">
      <mat-divider></mat-divider>
      <div style="padding: 10px;" class="text-center">
        <span class="text-secondary" style="font-size:small;">
          GUI v{{guiVersion}} -
          <span class="{{signalRService.connectionStatusValue ? 'text-success' : 'text-danger'}}"
          matTooltip="{{signalRService.connectionStatusValue ? 'SignalR connected' : 'SignalR disconnected'}}">API v{{apiVersion}}</span>
        </span>
      </div>
    </mat-nav-list> -->
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- TODO Sidenav toggle -->

    <!-- <mat-toolbar color="primary" style="z-index: 99;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async) && accountService.currentUserValue">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div style="width: 30px !important; height: 30px !important;" *ngIf="(isHandset$ | async) && !accountService.currentUserValue"></div>
      <span style="font-size: 30px; width: 30px !important; height: 30px !important;" *ngIf="!(isHandset$ | async)"><a class="no-style" [routerLink]="['/']"><i class="ai-alifax-logo"></i></a></span>
      <span style="margin: auto; font-size: 30px;"><a class="no-style" [routerLink]="['/']">AWM</a></span>
      <div style="width: 30px !important; height: 30px !important;" *ngIf="!accountService.currentUserValue"></div>
      <button style="width: 30px !important; height: 30px !important;" mat-icon-button [matMenuTriggerFor]="menu" style="font-size: 30px;" *ngIf="accountService.currentUserValue"><mat-icon inline>account_circle</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled style="text-align: center;">{{accountService.currentUserValue?.username}}</button> -->

  
    
    <!-- Component output of routing -->
    <ng-content></ng-content>
  </mat-sidenav-content>  
</mat-sidenav-container>





