<!-- upper bar -->
<mat-toolbar>
  <span>My Application</span>

  <button mat-icon-button [matMenuTriggerFor]="menu"
   *ngIf="accountService.currentUser|async as loggedInUser">
    <mat-icon>face</mat-icon>
    <span>{{loggedInUser.username}}</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>
</mat-toolbar>

<!-- SideNav -->
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="navBarOpen">
    
    <div class="example-sidenav-content">
      <span>My side Nav</span>

    </div>
  </mat-sidenav>


  <mat-sidenav-content>
    <!-- Component output of routing -->
    <ng-content></ng-content>
  </mat-sidenav-content>  
</mat-sidenav-container>





