<!-- <mat-card class="text-center" style="width: 300px;">
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Insert username and password to enter</mat-card-subtitle>
    <form (ngSubmit)="onSubmit()" class="vertical low-margin">
      <mat-form-field appearance="outline" style="width: 250px;">
        <mat-label>Username</mat-label>
        <input type="text" name="username" [(ngModel)]="user.username" matInput required>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 250px;">
        <mat-label>Password</mat-label>
        <input name="password" matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="user.password" required>
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <button mat-flat-button class="btn-primary" style="margin-top: 20px;" type="submit">Login</button>
    </form>
</mat-card> -->
  
