<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">K8sDemoApp</a>

    <!-- Login form -->
    <form #loginForm="ngForm" class="form-inline" (ngSubmit)="login()" autocomplete="off" *ngIf="!(currentUser|async)">
      <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text"
        placeholder="Username" >
      <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password"
        placeholder="Password">
      <button class="btn btn-success" type="submit">Login</button>
    </form>

    <!-- User fucntions dropdown -->
    <div class="btn-group" dropdown *ngIf="currentUser|async as loggedInUser">
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
              {{loggedInUser.username}}<span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem" ><a class="dropdown-item" (click)="logout()" >Logout</a></li>
      </ul>
    </div>


  </div>
</nav>



