<div class="grid-container-element">
  <!-- Job commands -->
  <div class="grid-child-element-jobsCommands">
    <div>
      <button mat-mini-fab color="primary" matTooltip="Send test job request" (click)="sendTestJobRequest()"
        style="margin: 2px;">
        <mat-icon>add</mat-icon>
      </button>
      <!-- {{jobsListHeader}} -->
      <button mat-mini-fab color="primary" matTooltip="Refresh data from database" (click)="getUserPendingJobs()"
        style="margin: 2px;">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>

  <!-- Job status chart -->
  <div class="grid-child-element-jobStatusChart">
    <app-director-status-chart></app-director-status-chart>
  </div>

  <!-- Director settings -->
  <div class="grid-child-element-directorSettings">
    <app-director-set-parameters></app-director-set-parameters>
  </div>

  <!-- Job Queue -->
  <div class="grid-child-element-jobsQueue">
    <app-director-status-load></app-director-status-load>

  </div>


  <!-- Job Queue -->
  <!-- <div class="grid-child-element-jobsQueue">
    <div class="cdk-virtual-scroll-data-source-example">
      <div *ngIf="(internalJobsListActiveJobsNumber|async)==0">
        No jobs in queue
      </div>
      <cdk-virtual-scroll-viewport orientation="vertical" itemSize="10" class="example-viewport "
        *ngIf="(internalJobsListActiveJobsNumber|async)>0">
        <div *ngFor="let job of (internalJobsList|async)">
          <app-jobstatus [job]="job" class="example-item"></app-jobstatus>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>

  </div> -->

</div>
