<div  class="grid-container-element">
    <!-- Commands -->
    <div class="grid-child-element-jobsCommands">
        <button mat-mini-fab color="primary" aria-label="Refresh data from database" (click)="manualLoadData()" style="margin: 2px;">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <!-- Table -->
    <div class="grid-child-element-table">
      <gui-grid style="margin: 2px;"
            [source]="jobsSource"
            [columns]="jobGridcolumns"
            [paging]="paging"
            [loading]="loading"
            [sorting]="sorting"
            [searching]="searching"
            >
      </gui-grid>
    </div>
</div>

